  macro_quotes: macro_quotes {
    compatible = "zmk,behavior-macro";
    label = "macro_quotes";
    #binding-cells = <0>;
    bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
  };
  macro_dquotes: macro_dquotes {
    compatible = "zmk,behavior-macro";
    label = "macro_dquotes";
    #binding-cells = <0>;
    bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
  };
  macro_braces: macro_braces {
    compatible = "zmk,behavior-macro";
    label = "macro_braces";
    #binding-cells = <0>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
  };
  macro_parens: macro_parens {
    compatible = "zmk,behavior-macro";
    label = "macro_parens";
    #binding-cells = <0>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
  };
  macro_brackets: macro_brackets {
    compatible = "zmk,behavior-macro";
    label = "macro_brackets";
    #binding-cells = <0>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
  };
  macro_kinesis: macro_kinesis {
    compatible = "zmk,behavior-macro";
    label = "macro_kinesis";
    #binding-cells = <0>;
    bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
  };
  macro_pass: macro_pass {
    compatible = "zmk,behavior-macro";
    label = "macro_pass";
    #binding-cells = <0>;
    bindings = <&kp LS(I)>, <&kp W>, <&kp I>, <&kp L>, <&kp L>, <&kp W>, <&kp I>, <&kp N>, <&kp AT_SIGN>, <&kp P>, <&kp C>, <&kp N8>, <&kp ENTER>;
  };
  macro_spec: macro_spec {
    compatible = "zmk,behavior-macro";
    label = "macro_spec";
    #binding-cells = <0>;
    bindings = <&kp LC(B)>, <&kp LC(U)>, <&kp LS(S)>, <&kp C>, <&kp O>, <&kp P>, <&kp E>, <&kp COLON>, <&kp ENTER>, <&kp LC(B)>, <&kp LC(U)>, <&kp LS(LC(B))>, <&kp ENTER>, <&kp ENTER>, <&kp LC(B)>, <&kp LC(U)>, <&kp LS(D)>, <&kp E>, <&kp V>, <&kp SPACE>, <&kp LS(N)>, <&kp O>, <&kp T>, <&kp E>, <&kp S>, <&kp COLON>, <&kp ENTER>, <&kp LC(B)>, <&kp LC(U)>, <&kp LS(LC(B))>, <&kp UP>, <&kp UP>;
  };
  macro_gpt: macro_gpt {
    compatible = "zmk,behavior-macro";
    label = "macro_gpt";
    #binding-cells = <0>;
    bindings = <&kp GRAVE>, <&kp GRAVE>, <&kp GRAVE>, <&kp LS(ENTER)>, <&kp LS(ENTER)>, <&kp LS(ENTER)>, <&kp GRAVE>, <&kp GRAVE>, <&kp GRAVE>, <&kp UP>, <&kp UP>;
  };
  macro_select_star: macro_select_star {
    compatible = "zmk,behavior-macro";
    label = "macro_select_star";
    #binding-cells = <0>;
    bindings = <&kp S>, <&kp E>, <&kp L>, <&kp E>, <&kp C>, <&kp T>, <&kp SPACE>, <&kp STAR>, <&kp SPACE>, <&kp F>, <&kp R>, <&kp O>, <&kp M>, <&kp SPACE>;
  };
  macro_log_time_4_tabs: macro_log_time_4_tabs {
    compatible = "zmk,behavior-macro";
    label = "macro_log_time_4_tabs";
    #binding-cells = <0>;
    bindings = <&kp TAB>, <&kp TAB>, <&kp TAB>, <&kp TAB>, <&kp M>, <&kp LEFT>;
  };
  macro_log_time_mgt: macro_log_time_mgt {
    compatible = "zmk,behavior-macro";
    label = "macro_log_time_mgt";
    #binding-cells = <0>;
    bindings = <&kp TAB>, <&kp TAB>, <&kp UP>, <&kp UP>, <&kp UP>, <&kp ENTER>, <&kp TAB>, <&kp TAB>, <&kp ENTER>;
  };
  macro_log_time_cr: macro_log_time_cr {
    compatible = "zmk,behavior-macro";
    label = "macro_log_time_cr";
    #binding-cells = <0>;
    bindings = <&kp TAB>, <&kp TAB>, <&kp DOWN>, <&kp DOWN>, <&kp DOWN>, <&kp DOWN>, <&kp DOWN>, <&kp DOWN>, <&kp ENTER>, <&kp TAB>, <&kp TAB>, <&kp ENTER>;
  };
  macro_log_time_meeting: macro_log_time_meeting {
    compatible = "zmk,behavior-macro";
    label = "macro_log_time_meeting";
    #binding-cells = <0>;
    bindings = <&kp TAB>, <&kp TAB>, <&kp DOWN>, <&kp ENTER>, <&kp TAB>, <&kp TAB>, <&kp ENTER>;
  };
  macro_log_time_research: macro_log_time_research {
    compatible = "zmk,behavior-macro";
    label = "macro_log_time_research";
    #binding-cells = <0>;
    bindings = <&kp TAB>, <&kp TAB>, <&kp DOWN>, <&kp DOWN>, <&kp DOWN>, <&kp DOWN>, <&kp DOWN>, <&kp ENTER>, <&kp TAB>, <&kp TAB>, <&kp ENTER>;
  };
  macro_lead_acceptance: macro_lead_acceptance {
    compatible = "zmk,behavior-macro";
    label = "macro_lead_acceptance";
    wait-ms = <50>;
    #binding-cells = <0>;
    bindings = <&kp PERIOD>, <&kp L>, <&kp E>, <&kp A>, <&kp D>, <&kp SPACE>, <&kp A>, <&kp C>, <&kp ENTER>, <&kp A>, <&kp N>, <&kp S>, <&kp H>, <&kp SPACE>, <&kp D>, <&kp DOWN>, <&kp ENTER>, <&kp ENTER>;
  };