#define VERSION_MACRO
macro_ver: macro_ver {
compatible = "zmk,behavior-macro";
#binding-cells = <0>;
bindings = <&kp N2>, <&kp N0>, <&kp N2>, <&kp N5>, <&kp N0>, <&kp N6>, <&kp N1>, <&kp N6>, <&kp MINUS>, <&kp G>, <&kp E>, <&kp R>, <&kp M>, <&kp MINUS>, <&kp N0>, <&kp N9>, <&kp N1>, <&kp A>, <&kp N5>, <&kp D>, <&kp N4>, <&kp MINUS>, <&kp C>, <&kp L>, <&kp I>, <&kp Q>, <&kp U>, <&kp E>, <&kp RET>;
};
