#define VERSION_MACRO
macro_ver: macro_ver {
compatible = "zmk,behavior-macro";
label = "macro_ver";
#binding-cells = <0>;
bindings = <&kp N2>, <&kp N0>, <&kp N2>, <&kp N3>, <&kp N1>, <&kp N2>, <&kp N0>, <&kp N6>, <&kp MINUS>, <&kp M>, <&kp I>, <&kp G>, <&kp R>, <&kp MINUS>, <&kp N6>, <&kp B>, <&kp N1>, <&kp A>, <&kp N1>, <&kp N6>, <&kp N5>, <&kp RET>;
};
