ZMK_MACRO( _ ,
        bindings = <&trans>;
        )

ZMK_MACRO(ditto,
        wait-ms = <10>;
        tap-ms = <20>;
        bindings
        = <&macro_press &kp LGUI &kp LALT>
        , <&macro_tap &kp GRAVE>
        , <&macro_release &kp LGUI &kp LALT>
        ;
        )

ZMK_MACRO(T_ADD,
        wait-ms = <0>;
        tap-ms = <20>;
        bindings = <&kp LG(LA(Q))>;
        )
ZMK_MACRO(T_OPEN,
        wait-ms = <0>;
        tap-ms = <20>;
        bindings = <&kp LG(N1)>;
        )

ZMK_MACRO(DSK_UP,
        wait-ms = <0>;
        tap-ms = <20>;
        bindings = <&kp LA(LC(PG_UP))>;
        )

ZMK_MACRO(DSK_DN,
        wait-ms = <0>;
        tap-ms = <20>;
        bindings = <&kp LA(LC(PG_DN))>;
        )

ZMK_MACRO(RDC_X,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp PAUSE_BREAK>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(SPOTLIGHT,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp SPACE>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(AT_TOG,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp TAB>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

