
ZMK_MACRO(WM_BIG, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp PLUS>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_SMALL, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp MINUS>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_STACK_T, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp S>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_STACK_T, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp S>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_STACK_C, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp T>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_MANAGE, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_FOCUS, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp C>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )


ZMK_MACRO(WM_FLOAT, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp F>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_MON, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp M>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_UP, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp UP>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_DOWN, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp DOWN>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )


ZMK_MACRO(WM_LEFT, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp LEFT>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_RIGHT, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp RIGHT>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )



// Work spaces
ZMK_MACRO(WM_WS_1, 
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N1>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_WS_2,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N2>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )

ZMK_MACRO(WM_WS_3,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N3>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_WS_4,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N4>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_WS_5,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N5>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_WS_6,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N6>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_WS_7,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N7>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_WS_8,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N8>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_WS_9,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N9>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )
ZMK_MACRO(WM_WS_10,
        bindings
        = <&macro_press &kp LCTRL &kp LALT>
        , <&macro_tap &kp N0>
        , <&macro_release &kp LCTRL &kp LALT>
        ;
        )