ZMK_MACRO(DESK_A,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N1>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )
ZMK_MACRO(DESK_B,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N2>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )
ZMK_MACRO(DESK_C,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N3>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )

ZMK_MACRO(DESK_D,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N4>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )

ZMK_MACRO(DESK_E,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N5>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )

ZMK_MACRO(DESK_F,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N6>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )

ZMK_MACRO(DESK_G,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N7>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )

ZMK_MACRO(DESK_H,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N8>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )

ZMK_MACRO(DESK_I,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LCTRL &kp LGUI>
        , <&macro_tap &kp N9>
        , <&macro_release &kp LCTRL &kp LGUI>
        ;
        )

ZMK_MACRO(DESK_VW,
        wait-ms = <40>;
        tap-ms = <40>;
        bindings
        = <&macro_press &kp LGUI>
        , <&macro_tap &kp TAB>
        , <&macro_release &kp LGUI>
        ;
        )